* {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
    grid-template-areas:
        "header nav"
        "main main"
        "footer footer";
}

footer {
    background-color: aqua;
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-template-rows: auto auto;
    justify-items: right;
    align-items: center;
    padding: 0 20%;
}

.on,
.off {
    display: none;
}

.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, gray 50%, white 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.bg3 {
    animation-duration: 5s;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(25%);
    }
}

/* HOMEPAGE STYLE DESKTOP */

.home .mainRight img {
    width: 15em;
    height: 15em;
    border-radius: 50%;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
}

.home {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
        "mainLeft mainRight";
    height: 48.5vh;
    padding: 3.15em;
    animation: fadein 1s;
    margin: 5em;
}

@keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}


.home .mainLeft {
    grid-area: mainLeft;
}

.home .mainRight {
    grid-area: mainRight;
}

nav ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    text-align: center;
}

nav>ul>li {
    position: relative;
}

nav ul ul {
    position: absolute;
    background-color: white;
    padding: 0;
    display: block;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transform: translate(0, -100%);
    transition: opacity 0.5s ease-in;
    z-index: -1;
    transform: skewX(90deg);
}

nav>ul>li:hover ul {
    display: block;
    opacity: 1;
    pointer-events: auto;
    transform: translate(0, 0);
    transform: skewX(0deg);
    z-index: 1;
}

ul ul li:hover {
    background-color: rgba(0, 0, 0, 0.068);
    text-decoration: underline black;
}

.mainLeft {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "h3"
        "h1"
        "h2";
    padding-left: 0.5em;
    text-align: center;
    animation-name: textBig;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes textBig {
    from {
        font-size: 100%
    }

    50% {
        font-size: 200%
    }

    to {
        font-size: 100%
    }
}

.portfolio {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    grid-template-areas:
        "p1 p2 p3";
    height: 65.6vh;
    margin: 5em;
    animation: fadein 1s;
}

@keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.portfolio .p1 {
    grid-area: p1;
}

.portfolio .p2 {
    grid-area: p2;
}

.portfolio .p3 {
    grid-area: p3;
}

.portfolio img {
    position: relative;
    width: 10em;
    height: 10em;
    float: left;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
}

.portfolio h1 {
    background: black;
    color: white;
    font-family: sans-serif;
    transition: visibility 0s, opacity 0.5s linear;
    display: none;
}

.portfolio section:hover h1 {
    opacity: 1;
    display: block;
    padding: 0 0.2em;
    text-decoration: underline;
}

.portfolio section a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio section a h1 {
    position: absolute;
}

.portfolio .p1,
.p2,
.p3 {
    width: 20em;
    padding: 1em;
    border: 0.4em ridge gray;
    text-align: center;
}

.portfolio p {
    padding-top: 2em;
}

.blog {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    grid-template-areas:
        "beginning progression complete";
    margin: 3em;
    animation: fadein 1s;
}

@keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.blog .beginning {
    grid-area: beginning;
    width: 20em;
    padding: 1em;
    border: 0.4em ridge gray;
    text-align: center;
    margin-right: 4em;
}

.blog .progression {
    grid-area: progression;
    width: 20em;
    padding: 1em;
    border: 0.4em ridge gray;
    text-align: center;
}

.blog .complete {
    grid-area: complete;
    width: 20em;
    padding: 1em;
    border: 0.4em ridge gray;
    text-align: center;
}

.blog img {
    position: relative;
    width: 15em;
    height: 10em;
    float: left;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.blog h1 {
    background: black;
    color: white;
    font-family: sans-serif;
    transition: visibility 0s, opacity 0.5s linear;
    display: none;
}

.blog section:hover h1 {
    opacity: 1;
    display: block;
    padding: 0 0.2em;
    text-decoration: underline;
}

.blog section a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog section a h1 {
    position: absolute;
}

.blog p {
    padding-top: 2em;
}

.aboutMe {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    grid-template-areas:
        "me uniLife workLife";
    margin: 3em;
    animation: fadein 1s;
}

@keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.aboutMe .me {
    grid-area: me;
    width: 20em;
    padding: 1em;
    border: 0.4em ridge gray;
    text-align: center;
}

.aboutMe .uniLife {
    grid-area: uniLife;
    width: 20em;
    padding: 1em;
    border: 0.4em ridge gray;
    text-align: center;
}

.aboutMe .workLife {
    grid-area: workLife;
    width: 20em;
    padding: 1em;
    border: 0.4em ridge gray;
    text-align: center;
}

.aboutMe p {
    padding: 3em;
}

.aboutMe h1 {
    text-decoration: underline;
}

.aboutMe img {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadein 1s;
}

@keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.contact form {
    display: grid;
    width: 25em;
    grid-template-columns: 50% 50%;
    align-items: center;
    grid-gap: 0.5em;
    border: 5px ridge gray;
    margin: 2em;
    padding: 2em;
}

.contact textarea {
    height: 20em;
}

.contact input[type="submit"] {
    grid-column: 1/3;
}

.report {
    margin: 1em;
    padding: 0.5em;
    text-align: center;
    background-color: lightgray;
    animation: fadein 1s;
}

@keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.report .validation {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    grid-template-areas:
        "h1 h1 h1"
        "homepage portfolioPage blogPage"
        "aboutMePage contactPage reportPage"
        "mainCSS desktopCSS mobileCSS";
}

.report .validation h1 {
    grid-area: h1;
    text-decoration: underline;
}

.report .validation img {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
}


.homepage {
    grid-area: homepage;
}

.portfolioPage {
    grid-area: portfolioPage;
}

.blogPage {
    grid-area: blogPage;
}

.aboutMePage {
    grid-area: aboutMePage;
}

.contactPage {
    grid-area: contactPage;
}

.reportPage {
    grid-area: reportPage;
}

.mainCSS {
    grid-area: mainCSS;
}

.desktopCSS {
    grid-area: desktopCSS;
}

.mobileCSS {
    grid-area: mobileCSS;
}

.progress {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    grid-template-areas:
        "firstInput secondInput thirdInput";
    margin: 3em;
    animation: fadein 1s;
}

@keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.progress .firstInput {
    grid-area: firstInput;
    width: 20em;
    padding: 1em;
    border: 0.4em ridge gray;
    text-align: center;
}

.progress .secondInput {
    grid-area: secondInput;
    width: 20em;
    padding: 1em;
    border: 0.4em ridge gray;
    text-align: center;
}

.progress .thirdInput {
    grid-area: thirdInput;
    width: 20em;
    padding: 1em;
    border: 0.4em ridge gray;
    text-align: center;
}

.progress p {
    padding: 3em;
}

.progress h1 {
    text-decoration: underline;
}

.progress img {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
}

.validationHome {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
        "validationimg validationtext";
    height: 48.5vh;
    padding: 3.15em;
    animation: fadein 1s;
    margin: 5em;
}

@keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.validationHome .validationtext {
    grid-area: validationtext;
    padding-left: 0.5em;
    text-align: center;
    justify-content: center;
    margin: 2em;
}

.validationHome .validationimg {
    grid-area: validationimg;
    width: 15em;
    height: 15em;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
}

.validationPortfolio {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
        "validationimg validationtext";
    height: 48.5vh;
    padding: 3.15em;
    animation: fadein 1s;
    margin: 5em;
}

@keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.validationPortfolio .validationtext {
    grid-area: validationtext;
    padding-left: 0.5em;
    text-align: center;
    justify-content: center;
    margin: 2em;
}

.validationPortfolio .validationimg {
    grid-area: validationimg;
    width: 15em;
    height: 15em;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
}

.validationBlog {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
        "validationimg validationtext";
    height: 48.5vh;
    padding: 3.15em;
    animation: fadein 1s;
    margin: 5em;
}

@keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.validationBlog .validationtext {
    grid-area: validationtext;
    padding-left: 0.5em;
    text-align: center;
    justify-content: center;
    margin: 2em;
}

.validationBlog .validationimg {
    grid-area: validationimg;
    width: 15em;
    height: 15em;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
}

.validationAboutMe {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
        "validationimg validationtext";
    height: 48.5vh;
    padding: 3.15em;
    animation: fadein 1s;
    margin: 5em;
}

@keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.validationAboutMe .validationtext {
    grid-area: validationtext;
    padding-left: 0.5em;
    text-align: center;
    justify-content: center;
    margin: 2em;
}

.validationAboutMe .validationimg {
    grid-area: validationimg;
    width: 15em;
    height: 15em;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
}

.validationContact {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
        "validationimg validationtext";
    height: 48.5vh;
    padding: 3.15em;
    animation: fadein 1s;
    margin: 5em;
}

@keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.validationContact .validationtext {
    grid-area: validationtext;
    padding-left: 0.5em;
    text-align: center;
    justify-content: center;
    margin: 2em;
}

.validationContact .validationimg {
    grid-area: validationimg;
    width: 15em;
    height: 15em;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
}

.validationSiteReport {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
        "validationimg validationtext";
    height: 48.5vh;
    padding: 3.15em;
    animation: fadein 1s;
    margin: 5em;
}

@keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.validationSiteReport .validationtext {
    grid-area: validationtext;
    padding-left: 0.5em;
    text-align: center;
    justify-content: center;
    margin: 2em;
}

.validationSiteReport .validationimg {
    grid-area: validationimg;
    width: 15em;
    height: 15em;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
}

.validationMain {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
        "validationimg validationtext";
    height: 48.5vh;
    padding: 3.15em;
    animation: fadein 1s;
    margin: 5em;
}

@keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.validationMain .validationtext {
    grid-area: validationtext;
    padding-left: 0.5em;
    text-align: center;
    justify-content: center;
    margin: 2em;
}

.validationMain .validationimg {
    grid-area: validationimg;
    width: 15em;
    height: 15em;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
}


.validationDesktop {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
        "validationimg validationtext";
    height: 48.5vh;
    padding: 3.15em;
    animation: fadein 1s;
    margin: 5em;
}

@keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.validationDesktop .validationtext {
    grid-area: validationtext;
    padding-left: 0.5em;
    text-align: center;
    justify-content: center;
    margin: 2em;
}

.validationDesktop .validationimg {
    grid-area: validationimg;
    width: 15em;
    height: 15em;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
}

.validationMobile {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
        "validationimg validationtext";
    height: 48.5vh;
    padding: 3.15em;
    animation: fadein 1s;
    margin: 5em;
}

@keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.validationMobile .validationtext {
    grid-area: validationtext;
    padding-left: 0.5em;
    text-align: center;
    justify-content: center;
    margin: 2em;
}

.validationMobile .validationimg {
    grid-area: validationimg;
    width: 15em;
    height: 15em;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
}

.report .reference {
    border: 0.4em ridge gray;
    text-decoration: none;
    padding: 0.5em;
}

.report .reference ul {
    list-style: none;
}