* {
    padding: 0;
    margin:0;
}

body {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
    grid-template-areas:
        "header nav"
        "main main"
        "footer footer";
}

.on,
.off {
    display: none;
}
.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, gray 50%, white 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
    
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

/* HOMEPAGE STYLE DESKTOP */

.home .mainRight img {
    width: 15em;
    height: 15em;
    border-radius: 50%;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
}
.home {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
        "mainLeft mainRight";
    height: 75vh;
    padding: 3.15em;
}
.home .mainLeft {
    grid-area: mainLeft;
}

.home .mainRight {
    grid-area: mainRight;
}

nav ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    text-align: center;
}

nav>ul>li {
    position: relative;
}

nav ul ul {
    position: absolute;
    background-color: white;
    padding: 0;
    display: block;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transform: translate(0, -100%);
    transition: opacity 0.5s ease-in;
    z-index: -1;
    transform: skewX(90deg);
}

nav>ul>li:hover ul {
    display: block;
    opacity: 1;
    pointer-events: auto;
    transform: translate(0, 0);
    transform: skewX(0deg);
    z-index: 1;
}

ul ul li:hover {
    background-color: rgba(0, 0, 0, 0.068);
    text-decoration: underline black;
}

.home .mainLeft h1, h2, h3{
    animation-name: textBig;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes textBig{
    from{ font-size: 200%}
    50% {font-size: 300%}
    to {font-size: 200%}
}


.portolio{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    grid-template-areas:
    "p1 p2 p3";
    height: 75vh;
}
.portolio .p1{
    grid-area: p1;
}
.portolio .p2{
    grid-area: p2;
}
.portolio .p3{
    grid-area: p3;
}
.portolio .p1 img{
    height: 10em;
    width: 10em;
    border-radius: 50%;
}
