*{
    margin:0;
    padding:0;

}
body {
    background-image: linear-gradient(white, lightgray);
    display: grid;
    grid-template-columns: 100%;
    grid-area: auto;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
}

nav {
        height: 100%;
        width: 15em;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 50;
        background-color: brown;
        padding-top: 2em;
        transform: translate(-100%,0);
        transition: transform 0.5s ease-in;
    
}

#showNav:target .on {
    display:none;
}

#showNav:target .off {
    display: block;
}

#showNav .on {
    display: block;
}

#showNav .off {
    display: none;
}

#showNav:target nav {
    transform: translate(0, 0);
    transition: transform 0.5s ease-in;

}

.on {
    height: 0.8em;
    width: 1.25em;
    display: block;
    border-top: 0.2em solid black;
    border-bottom: 0.2em solid black;
    border-radius: 0.1em;
}

.on:before {
    content: '';
    position: absolute;
    width: 1.25em;
    margin-top: 0.3em;
    border-top: 0.2em solid black;
}

header {
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: auto;
}

.home .mainRight img {
    width: 15em;
    height: 15em;
    border-radius: 50%;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
}
.home .mainLeft h1, h2, h3{
    animation-name: textBig;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes textBig{
    from{ font-size: 100%}
    50% {font-size: 140%}
    to {font-size: 100%}
}


.home .mainLeft {
    padding: 1em;
    margin: 1em;
}
.home {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        "mainLeft"
        "mainRight";
    height: 75vh;
    padding: 3.5em;
    animation:fadein 1s; 
}
@keyframes fadein { from {opacity:0} to {opacity:1} }
.portfolio{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 33% 33% 33%;
    grid-template-areas:
    "p1"
    "p2"
    "p3";
    height: 75vh;
    text-align: center;
    text-decoration: underline;
    margin-inline-start: 1em;
    animation:fadein 1s; 
}
@keyframes fadein { from {opacity:0} to {opacity:1} }
.portfolio h1{
    font-size: 2em;
}
.portfolio .p1{
    grid-area: p1;
}
.portfolio .p2{
    grid-area: p2;
}
.portfolio .p3{
    grid-area: p3;
}
.portfolio img {
    height: 10em;
    width: 10em;
    border-radius: 50%; 
    object-fit: cover;
}
.blog {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 33% 33% 33%;
    grid-template-areas:
        "aboutMe"
        "uniLife"
        "workLife";
        margin-inline-start: 1em;
    animation:fadein 1s; 
}
@keyframes fadein { from {opacity:0} to {opacity:1} }
.blog .aboutMe {
    grid-area: aboutMe;
    width: 15em;
    padding: 1em;
    border:  0.4em ridge gray;
    margin: 2em;
    text-align: center;
}

.blog .uniLife {
    grid-area: uniLife;
    width: 15em;
    padding: 1em;
    border:  0.4em ridge gray;
    margin: 2em;
    text-align: center;
}

.blog .workLife {
    grid-area: workLife;
    width: 15em;
    padding: 1em;
    border:  0.4em ridge gray;
    margin: 2em;
    text-align: center;
}
.blog p{
    padding:3em;
}

.blog h1 {
    text-decoration: underline;
}
.contact{
    animation:fadein 1s; 
}
@keyframes fadein { from {opacity:0} to {opacity:1} }
.contact form {
    display: grid;
    width: 20em;
    grid-template-columns: 50% 50%;
    align-items: center;
    grid-gap: 0.5em;
    border: 0.4em ridge gray;
    margin: 0.3em;
    padding: 1em;
}
.contact textarea{
   height: 20em;
}
.contact input[type="submit"] {
    grid-column: 1/3;
}
